* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    width: 98.7vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: 40px;
    margin-left: 40px;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 80px;
}

h1 {
    font-size: 30px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.line-1 {
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    display: inline-block;
}

.line-2 {
    width: 80px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}

.line-3 {
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}

.line {
    line-height: 8px;
}

/* side navbar */
#sideNav {
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #f67c92;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 30px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 35px;
    top: 25px;
    cursor: pointer;
}

/* about , offer */
#about,
#offer {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left {
    width: 50%;
}

.about-left img {
    width: 100%;
}

.about-right {
    width: 50%;
    text-align: right;
}

.about-text {
    max-width: 500px;
    margin-right: 20px;
    display: inline-block;
}

.about-text h2 {
    margin: 50px 0 10px;
    font-size: 25px;
    font-style: italic;
}

.about-text h3 {
    font-size: 17px;
    font-style: italic;
    color: #777;
}

/* features */

#features {
    padding: 50px;
    padding-bottom: 50px;
}

.feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col {
    flex-basis: 25%;
    text-align: center;
}

.feature-col img {
    width: 100px;
    transition: 0.5s;
}

.feature-col img:hover {
    transform: translateY(-15px);
}

.feature-btn {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.feature-btn .line {
    text-align: right;
    margin-right: 10px;
    display: inline-block;
}

/* courses */


#courses {
    padding: 100px 0px;
}

.course {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-left {
    flex-basis: 50%;
}

.course-right {
    flex-basis: 50%;
}

.course-right img {
    width: 100%;
}

.text {
    max-width: 250px;
}

.text button {
    margin: 30px 0;
}

/* offer */
#offer button {
    margin: 30px 0px;
}

/* contact */

.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
    width: 50%;
}

.contact-right-col img {
    width: 100%;
}

form{
    max-width: 350px;
    margin: 30px 0px;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 2px solid #ffaaff;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0px;
}


/* footer */
#footer{
    padding: 50px 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left{
    width: 50%;
    margin-top: 60px;
}
.footer-right{
    width: 40%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #f67c92;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo img{
    width: 100px;
}
.footer-logo {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.copyright-text, .footer-logo{
    flex-basis: 40%;
}

/* social icons*/
.social-icons{
    width: 50px;
    position: fixed;
    top: 40%;
    left: 0;
   
}
.social-icons img{
    width: 20px;
    display: block;
    cursor: pointer;
    margin: 20px 5px;
}